/* Display image inline to the right */
p.img-float-right,
img.img-float-right {
  float: right;
  margin: 5px 0 5px 5px;
}

/* Display image inline to the left */
p.img-float-left,
img.img-float-left {
  float: left;
  margin: 0 5px 5px 5px;
}

/* Center the YouTube players. */
.media-youtube-outer-wrapper {
  margin: auto;
}

/* Override body */
body.cke_show_borders {background:#fff;}

body {
  font-size: 13px;
  line-height: 18px;
}

* {
  font-family: Arial, sans-serif;
}

p, ul, ol, dl {
	margin-bottom: 1em;
}

a {
	text-decoration: underline;
	color: #9E1C27;
}

a:hover {
	text-decoration: none;
	color: #000;
}

h1, h2 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #1A3E64;
  margin-bottom: 12px;
  border-top: 3px solid #8D98A2;
  padding-top: 10px;
}

h3 {
  font-size: bold;
  color: #555;
  font-size: 15px;
  margin-bottom: 1em;
}


ul, ol {
  margin-left: 0;
  padding-left: 16px;
}

li {
  list-style: square;
}